{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'vendors/tree-js/tree.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <title>Sync System| Welcome</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex col-2">
          <input class="form-control me-2" type="search" placeholder="search repository..." aria-label="Search"
            id="txt-search" autocomplete="off">
          <ul class="list-group col-2 card" id="search-result">
          </ul>
        </form>
      </div>
    </nav>
    <div class="row main">
      <div class="col-2 sidebar">
        <div class="explorer">
          <div id="repo-about">
            <p class="mt-5">No repository selected.</p>
          </div>
          <div class="card">
            <div id="tree" class="">
            </div>
          </div>
        </div>
        <div class="col-2 bottom-feeder muted-text position-absolute bottom-0 start-0">
          <p>repo node: <br><span id="repo-node-display"></span> </p>

        </div>
      </div>
      <div class="col-10 content">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
          <li class="nav-item btn-refresh-iframe">
            <i class="bi bi-arrow-clockwise"></i> refresh renderer
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="btn-renderer-tab" data-bs-toggle="tab" data-bs-target="#renderer"
              type="button" role="tab" aria-controls="home" aria-selected="true">Render view</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="btn-code-tab" data-bs-toggle="tab" data-bs-target="#source-code" type="button"
              role="tab" aria-controls="source-code" aria-selected="false">Code</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="btn-k-base-tab" data-bs-toggle="tab" data-bs-target="#k-base" type="button"
              role="tab" aria-controls="k-base" aria-selected="false">Knowledge Base</button>
          </li>
          <div class="nav-item float-end edit-notif">
            <p id="edit-status"> repo was edited </p>
            <a id="apache-url" target="_blank">Browse folder via Apache</a>
          </div>
        </ul>
        <div class="tab-content" id="nav-tab-content">
          <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div> -->
          <iframe class="tab-pane fade show active" id="renderer" role="tabpanel" aria-labelledby="renderer-tab" src=""
            frameborder="0"></iframe>
          <iframe class="tab-pane fade" id="source-code" role="tabpanel" aria-labelledby="code-tab" src=""
            frameborder="0"></iframe>
          <div class="tab-pane fade" id="k-base">
            <h1>K-Base for ITCS Coding</h1>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Search K-Base</label>
              <input type="text" class="form-control" id="k-base-search-key"
                placeholder="search a title, a tag, a text...">
              <button type="button" class="btn btn-warning mt-1" data-bs-toggle="modal"
                data-bs-target="#k-base-form" id="k-base-btn-add">Add</button>
            </div>
            <div id="k-base-main">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal-repo-info" tabindex="-1" aria-labelledby="modal-repo-infoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-repo-infoLabel">Edit repo info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="frm-edit-repo-st-info" autocomplete="off">{% csrf_token %}
            <div class="mb-3">
              <label for="customer_no" class="form-label">Customer No.</label>
              <input type="text" class="form-control" name="customer_no">
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Surname</label>
              <input type="text" class="form-control" name="surname">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name.</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close-edit-modal" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-submit-repo-edit">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="k-base-form">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Knowledge form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="k-base-frm">
            <input type="number" class="form-control" name="id" hidden>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Title...">
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Message</label>
              <textarea class="form-control" name="text" rows="12"></textarea>
            </div>
            <div class="mb-3">
              <label for="tags" class="form-label">Tags</label>
              <input type="text" class="form-control" name="tags" placeholder="Separate tags with commas">
            </div>
        </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="k-base-frm-btn-close">Close</button>
          <button type="button" class="btn btn-primary" id="k-base-frm-btn-submit">Save</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="{% static 'vendors/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'vendors/tree-js/tree.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/listeners.js' %}"></script>
  <script src="{% static 'js/background-process.js' %}"></script>
</body>

</html>