#search-result {
    border-top: unset;
    border-bottom: unset;
}

[name='frm-issue-task-list'] {
    height: 48vh;
    overflow-y: scroll;
}

.k-base-title-foot {
    position: absolute;
    bottom: -15px;
    margin-top: 10px;
    color: #56563a;
    float: right;
    font-size: .8rem;
}