form>#search-result {
    position: absolute;
    top: 3rem;
    width: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
    z-index: 1000;
}

.main {
    width: 100%;
}

.sidebar {
    padding-right: unset;
}

.content {
    margin-top: 0.5rem;
}

.sidebar>div{
    margin: 0.5rem;
}

.explorer {
    width: 100%;
}

.repo-list-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.repo-time {
    font-size: 0.8em;
}

iframe {
    width: 100%;
    height: 90vh;
}

#tree {
    overflow: auto;
    padding-left: 0.2rem;
}