form>#search-result {
    position: absolute;
    top: 3rem;
    width: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
}

.main {
    width: 100%;
}

.sidebar>div{
    margin: 0.5rem;
}

.repo-list-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}
