form>#search-result {
    position: absolute;
    top: 3rem;
    /* width: 17rem; */
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
    z-index: 1000;
}

.main {
    width: 100%;
}

.sidebar {
    padding-right: unset;
}

.content {
    margin-top: 0.5rem;
}

.sidebar>div{
    margin: 0.5rem;
}

.explorer {
    width: 100%;
}

.repo-list-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.list-group>p{
    margin: auto;
}


.repo-time {
    font-size: 0.8em;
    padding-top: 1.2rem;
}

iframe {
    width: 100%;
    height: 90vh;
}

#tree {
    overflow: auto;
    padding-left: 0.2rem;
}

.btn-refresh-iframe {
    padding-top: 10px;
    margin-right: 5px;
}

.edit-notif {
    position: absolute;
    float: right;
    right: 0;
}

.edit-notif > * {    
    display: none;
    margin-bottom: -2.5rem;
}

.repo-controls {
    position: absolute;
    position: absolute;
    top: 0;
    right: .19rem;
}

.repo-controls>.bi {
    color: #103074;
    cursor: pointer;
    font-size: 1.5rem;
    margin: .32rem;
    cursor: pointer;
}

.repo-controls>.bi:hover {
    color: #18d7b4;
}

.bottom-feeder {
    position: absolute;
    font-size: 0.6rem;
}

.student-details p {
    margin-bottom: 0rem;
}